.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  background-color: #fff;
  transition: transform 0.3s;
  height: 468px;
}

.card:hover {
  transform: scale(1.05);
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.content {
  padding: 16px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  color: #333;
}

.category,
.area {
  font-size: 1rem;
  color: #666;
  margin: 8px 0 0;
}
